<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="/">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Restore password</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<!-- authorization form -->
				<div class="col-12">
					<div class="sign">
						<div class="sign__content">
							<form action="/signup/<%= userType %>" method="POST" class="sign__form">
								<a href="/" class="sign__logo">
									<img src="images/logo.png" alt="">
								</a>

								<div class="sign__group">
									<input type="password" class="sign__input" name="newpassword" placeholder="New Password">
								</div>
								<div class="sign__group">
									<input type="password" class="sign__input" name="confirmpass" placeholder="Confirm Password">
								</div>

                                <input type="hidden" name="userId" value="<%= userId %>">
                                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
								<button class="sign__btn" type="submit">Send</button>
							</form>
						</div>
					</div>
				</div>
				<!-- end authorization form -->
			</div>
		</div>
	</main>
	<!-- end main content -->
<%- include('../includes/end.ejs', {ads: ''}) %>