<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="/">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Sign up</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<!-- registration form -->
				<div class="col-12">
					<div class="sign">
						<% if (errorMessage) { %>
							<div class="sign__error"><%= errorMessage %></div>
						<% } %>
						<div class="sign__content">
							<form action="/correct-signup" method="POST" class="signin__form" enctype="multipart/form-data">
								<a href="/" class="sign__logo">
									<img src="images/logo.png" alt="">
								</a>

								<div class="sign__group">
									<label for="userType" class="sign__label">Select User Role:</label>
									<select name="userType" id="userType" class="sign__select">
										<option value="Fan">Fan(voting for contestants)</option>
										<option value="Contestant">Contestant(Performer)</option>
										<option value="RecordLabelCompany">Record Label Company(Scouting Talent)</option>
										<option value="Advertiser">Advertiser(Offer services to contestants)</option>
									</select>
								</div>
								
								<input type="hidden" name="_csrf" value="<%= csrfToken %>">
								<button class="sign__btn" type="submit">Select</button>
							</form>
						</div>
					</div>
				</div>
				<!-- end registration form -->
			</div>
		</div>
	</main>
	<!-- end main content -->
<%- include('../includes/end.ejs', {ads: ''}) %>