<% if (!selectedByGenre) { %>
    <section class="pagination">
        <% if (currentPage !== 1 && previousPage !== 1) { %>
            <a href="/releases/?page=1">1</a>
        <% } %>
        <% if (hasPreviousPage) { %>
            <a href="/releases?page=<%= previousPage %>"><%= previousPage %></a>
        <% } %>
        <a href="/releases?page=<%= currentPage %>" class="active"><%= currentPage %></a>
        <% if (hasNextPage) { %>
            <a href="/releases/?page=<%= nextPage %>"><%= nextPage %></a>
        <% } %>
        <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
            <a href="/releases/?page=<%= lastPage %>"><%= lastPage %></a>
        <% } %>
    </section>
<% } %>