<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="/">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Releases</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<!-- title -->
				<div class="col-12">
					<div class="main__title main__title--page">
						<h1>Local Releases</h1>
					</div>
				</div>
				<!-- end title -->
			</div>

			<!-- releases -->
			<div class="row row--grid">
				<div class="col-12">

					<div class="row row--grid">
						<% localSongsArr.forEach(song => { %>
							<div id="season-album">
								<div>
									<div class="album__cover">
										<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= song.youtubeSongId %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
									<div class="album__title" id="song-season-details">
										<div>
											<h3><a href="/release/<%= song.songTitle %>/<%= song.artistName %>"><%= song.songTitle %></a></h3>
											<span><a href="/artist/<%= song.artistName %>"><%= song.artistName %></a></span>
										</div>
										<div>
											<span class="single-item__time top-votes">Votes: <%= song.votes %></span>
										</div>
									</div>
								</div>
							</div>
						<% }) %>
					</div>
				</div>
			</div>
			<!-- end releases -->	
		</div>
	</main>
	<!-- end main content -->
<%- include('../includes/end.ejs', {ads: ads}) %>