<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<!-- breadcrumb -->
			<div class="col-12">
				<ul class="breadcrumb">
					<li class="breadcrumb__item"><a href="index.html">Home</a></li>
					<li class="breadcrumb__item breadcrumb__item--active">Local Artists</li>
				</ul>
			</div>
			<!-- end breadcrumb -->

				<!-- title -->
				<div class="col-12">
					<div class="main__title main__title--page">
						<h1>Artists Near You:</h1>
					</div>
				</div>
				<!-- end title -->
			</div>

			<div class="row row--grid">
				<div class="col-12">

					<div class="row row--grid">
						<% artists.forEach(artist => { %>
							<% if (artist.userType === 'Contestant') { %>
								<div class="col-6 col-sm-4 col-md-3 col-xl-2">
									<a href="/artist/<%= artist.name %>" class="artist" id="find-artist">
										<div class="artist__cover">
											<img src="<%= artist.userProfileImage %>" alt="">
										</div>
										<h3 class="artist__title"><%= artist.name %></h3>
									</a>
								</div>
							<% } %>
						<% }) %>
					</div>
				</div>
			</div>
			<!-- end artists -->
		</div>
	</main>
	<!-- end main content -->

<%- include('../includes/end.ejs', {ads: ads}) %>