<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="/">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Releases</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<section class="row row--grid">
					<div class="col-12 col-xl-8">
						<div class="row row--grid" id="hero">
							<!-- title -->
							<div class="col-12">
								<div class="main__title--releases">
									<h2>Gold Sponsors</h2>
								</div>
							</div>
							<!-- end title -->

							<div class="premiumAd--releases owl-carousel" id="hero">
								<% ads.forEach(ad => { %>
									<% if (ad.isGoldAd) { %>
										<div class="hero__slide-contestant" data-bg="img/home/slide1.jpg">
											<h1 class="hero__title--contestant"><%= ad.adTitle %></h1>
											<p class="hero__text"><%= ad.adDescription %></p>
											<div class="hero__btns">
												<a href="<%= ad.adAffiliateLink %>" class="hero__btn hero__btn--green">Contact Us</a>
											</div>
										</div>
									<% } %>
								<% }) %>
							</div>
						</div>
					</div>
	
					<div class="col-12 col-xl-4">
						<div class="row row--grid">
							<div class="col-12">
								<div class="row row--grid">
									<!-- title -->
									<% if (selectedByGenre) { %>
										<div class="col-12">
											<div class="main__title">
												<h2><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.65,2.24a1,1,0,0,0-.8-.23l-13,2A1,1,0,0,0,7,5V15.35A3.45,3.45,0,0,0,5.5,15,3.5,3.5,0,1,0,9,18.5V10.86L20,9.17v4.18A3.45,3.45,0,0,0,18.5,13,3.5,3.5,0,1,0,22,16.5V3A1,1,0,0,0,21.65,2.24ZM5.5,20A1.5,1.5,0,1,1,7,18.5,1.5,1.5,0,0,1,5.5,20Zm13-2A1.5,1.5,0,1,1,20,16.5,1.5,1.5,0,0,1,18.5,18ZM20,7.14,9,8.83v-3L20,4.17Z"/></svg><a href="#">Top <%= genreSelected %> Hits of Season <%= currentSeason %></a></h2>
											</div>
										</div>
									<% } else { %>
										<div class="col-12">
											<div class="main__title">
												<h2><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.65,2.24a1,1,0,0,0-.8-.23l-13,2A1,1,0,0,0,7,5V15.35A3.45,3.45,0,0,0,5.5,15,3.5,3.5,0,1,0,9,18.5V10.86L20,9.17v4.18A3.45,3.45,0,0,0,18.5,13,3.5,3.5,0,1,0,22,16.5V3A1,1,0,0,0,21.65,2.24ZM5.5,20A1.5,1.5,0,1,1,7,18.5,1.5,1.5,0,0,1,5.5,20Zm13-2A1.5,1.5,0,1,1,20,16.5,1.5,1.5,0,0,1,18.5,18ZM20,7.14,9,8.83v-3L20,4.17Z"/></svg><a href="#">Top Hits of Season <%= currentSeason %></a></h2>
											</div>
										</div>
									<% } %>
									<!-- end title -->
			
									<div class="col-12">
										<ul class="main__list">
											<% topFiveSongs.forEach(topSong => { %>
												<li class="single-item">
													<div class="single-item__title">
														<h4><a href="/release/<%= topSong.songTitle %>/<%= topSong.artistName %>"><%= topSong.songTitle %></a></h4>
														<span><a href="/artist/<%= topSong.artistName %>"><%= topSong.artistName %></a></span>
													</div>
													<span class="single-item__time top-votes">Votes: <%= topSong.votes %></span>
												</li>
											<% }) %>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>	

				<!-- title -->
				<div class="col-12">
					<div class="main__title main__title--page">
						<h1>All Releases</h1>
					</div>
				</div>
				<!-- end title -->

			<!-- releases -->
			<div class="row row--grid">
				<div class="col-12">
					<div class="main__filter">
						<form action="/releases-by-songname" method="POST" class="main__filter-search">
							<input type="text" name="searchedSong" placeholder="Search...">
							<button type="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z"/></svg></button>
						</form>

						<form action="/releases-by-genre" method="POST">
							<div class="main__filter-wrap">
								<select class="main__select" id="genre-select" name="genre">
									<option class="option" value="All genres">All Genres</option>
									<option value="Alternative">Alternative</option>
									<option value="Blues">Blues</option>
									<option value="Classical">Classical</option>
									<option value="Country">Country</option>
									<option value="Electronic">Electronic</option>
									<option value="HipHopRap">Hip-Hop/Rap</option>
									<option value="Indie">Indie</option>
									<option value="Jazz">Jazz</option>
									<option value="Latino">Latino</option>
									<option value="R&B">R&B/Soul</option>
									<option value="Rock">Rock</option>
								</select>
								<button type="submit" id="genre-search">Find Genre</button>
							</div>
						</form>

						<div class="slider-radio">
							<input type="radio" name="grade" id="featured" checked="checked"><label for="featured">Featured</label>
							<input type="radio" name="grade" id="newest"><label for="newest">Newest</label>
						</div>
					</div>

					<div class="row row--grid">
						<% if (songs.length > 0){ %>
							<% songs.forEach(song => { %>
								<div id="season-album">
									<div>
										<div class="album__cover">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= song.youtubeSongId %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
										</div>
										<div class="album__title" id="song-season-details">
											<div>
												<h3><a href="/release/<%= song.songTitle %>/<%= song.artistName %>"><%= song.songTitle %></a></h3>
												<span><a href="/artist/<%= song.artistName %>"><%= song.artistName %></a></span>
											</div>
											<div>
												<span class="single-item__time" id="top-votes">Votes: <%= song.votes %></span>
											</div>
										</div>
									</div>
								</div>
							<% }) %>
						<% } else { %>
							<h1>Could Not Find Any Songs By That Specific Name.</h1>
						<% } %>
					</div>
				</div>
			</div>
			<!-- end releases -->	
			<% if (!selectedByGenre) { %>
				<section class="pagination">
					<% if (currentPage !== 1 && previousPage !== 1) { %>
						<a href="/releases/?page=1">1</a>
					<% } %>
					<% if (hasPreviousPage) { %>
						<a href="/releases?page=<%= previousPage %>"><%= previousPage %></a>
					<% } %>
					<a href="/releases?page=<%= currentPage %>" class="active"><%= currentPage %></a>
					<% if (hasNextPage) { %>
						<a href="/releases?page=<%= nextPage %>"><%= nextPage %></a>
					<% } %>
					<% if (lastPage !== currentPage && nextPage !== lastPage) { %>
						<a href="/releases?page=<%= lastPage %>"><%= lastPage %></a>
					<% } %>
				</section>
			<% } %>
		</div>
	</main>
	<!-- end main content -->
<%- include('../includes/end.ejs', {ads: ads}) %>